body {
    background: rgb(118, 152, 131);
    background: linear-gradient(0deg, rgb(190, 205, 197) 0%, #32c26e 86%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 400px;
    
    margin: 15vh auto 0 auto;
    background-color: #d6e4db;
    border-radius: 5px;
    padding: 30px;

}

h1 {
    text-align: center;
    color: #4e0d66;
}

#form button {
    background-color: lab(45.81% -39.63 19.67);
    color: white;
    border: 1px solid #99df85;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 80%;



}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input {
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(93, 100, 100);
    background-color: #e6ecf1;
    
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid none;
    padding: 50px;
    box-shadow: 10px 10px 5px 12px rgb(78, 185, 70);
}


/* flex-direction :column; */

/* #start-game {
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding-left: 100px;
    padding-top: 200px;
} */

#start-btn {
    background-color: #d59aea;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}



#questioncontainer {
    border: 1px solid rgb(0, 0, 0);
     background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #5ac285 86%);
    width: 500px;
    height: 500px;
    align-items: center;
}


.display {
    color: hsl(154, 86%, 25%);
    font-weight: bold;
    font-size: 20px;

}


           